/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(144, 195, 200);
  /* gives background color to the page */
  margin: 1rem;
  /* gives a margin of 1rem */
}

.wrapper-container {
  background-color: #ebeae9;
}

html {
  font-family: "Open Sans", sans-serif;
  /* gives open sans font family to the entire web page */
}

/* Nav Start */
nav {
  display: flex;
  /* aligns the elements in one axis */
  justify-content: space-between;
  /* sets the elements such that there is space between each elements */
  align-items: center;
  /* aligns the elements to the center of the y-axis wrt the provided area */
  color: #fff;
  /* turns the font color white */
  padding: 20px;
  /* gives a padding of 20px around the elements */
  margin-bottom: 5rem;
  /* gives a margin of 5rem from the bottom of the elements */
}
nav ul {
  margin-left: 5rem;
  /* gives a margin of 5rem to the left of the elements of the navbar */
  list-style: none;
  /* removes the bullet point of the unordered list */
}
li a {
  text-decoration: none;
  /* removes the underline of the anchor tag */
  color: #000;
  /* turns the font-color black */
}
nav .burger {
  margin-right: 5rem;
  /* gives a margin of 5rem to the right */
  cursor: pointer;
  /* converts the cursor to a pointer when hovered */
}
nav .burger span {
  height: 4px;
  border: 2px solid black;
  /* gives a border of 2px black colored */
  margin: 4px;
  /* gives a margin of 4px around each element of the span tag */
  background: #000;
  /* turns the background color for each element to black */
}
/* Nav End */

/* Header Start */
header {
  margin: 6rem;
  /* gives a margin of 6rem to the overall header area */
}
.main-headings {
  width: 50%;
  /* reduces the width area of the main headig to 50% */
  font-size: 3rem;
  /* increases the font-size of the main heading to 3rem */
}
.primary-headings {
  width: 50%;
  /* reduces the wdith area of the primary heading to 50% */
  margin-top: 3rem;
  /* gives a margin of 3rem to the top of the primary heading area */
  font-size: 1.5rem;
  /* increases the font size of the primary heading to 1.5rem */
  line-height: 30px;
  /* reduces the line height of the primary headings to 30px */
}
.bg-gray {
  background: rgb(97, 97, 97);
  /* turns the span areaa color to gray */
  color: white;
  /* turns the span font color to white */
  padding: 2px 10px;
  /* gives a padding of 2px top-bottom and 10px left-right within the span area */
  font-weight: bold;
  /* increases the font-weight of the span text to bold */
}
/* Header End */

/* Main Start */
main {
  margin: 0 4rem;
  /* gives a margin of 0rem top-bottom and 4rem left-right for each image area */
  display: flex;
  /* aligns all the image areas in one axis */
  flex-wrap: wrap;
  /* wraps all the image areas such that no space remains without affecting the image dimensions */
  justify-content: center;
  /* aligns the image areas in the center of the x axis */
  margin: 40px;
}
main .img {
  width: 40%;
  /* reduces the images to 40% */
  margin: 10px;
  /* gives a margin of 10px around each images */
}
/* Main End */

/* Section-Three Start */
.section-three {
  margin-left: 5rem;
  /* gives a margin of 5rem to the left of the section */
}
.section-three .primary-headings {
  margin-bottom: 10rem;
  /* gives a margin of 10rem to the bottom of the para */
}
.list {
  display: flex;
  /* aligns all the list images and heading in one axis */
  flex-wrap: wrap;
  /* wraps all the list images and heading such that they fit in the given area and no dimensionality is compromised */
  justify-content: center;
  /* aligns all the list images and heading to the center of horizontal-axis */
  align-items: center;
  /* aligns all the list images and headings to the center of vertical axis */
}
.section-three .item h1 {
  font-size: 2rem;
  /* fixes the font-size to 2rem */
  color: rgb(97, 97, 97);
  margin-left: 1rem;
}
.section-three img {
  width: 400px;
  height: 500px;
  /* fixes the image dimension ratio */
  margin: 50px;
  /* gives a margin of 50px around each image */
}
/* Section-Three End */

/* Footer Start */
footer {
  margin-top: 10rem;
  /* gives a margin of 10rem to the top */
  height: 50vh;
  /* gives a height of 100vh to the footer section */
  display: flex;
  /* aligns the two major div elements in one axis */
  flex-wrap: wrap;
  /* wrap the elements such that no compromise on dimensionality and no space between elements */
  justify-content: space-around;
  /* aligns the two major div in horizaontal axis such that there is space around them */
  align-items: center;
  /* aligns the two major div in the center of the vertical axis */
  color: white;
  /* turns font color to white */
  background: rgb(144, 195, 200);
}
footer .logo-container h1 {
  font-size: 4rem;
  /* increases the font size of the logo text to 4rem */
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  /* gives a margin of 20px to the bottom of the logo text */
}
footer .logo-container p {
  max-width: 400px;
  /* decreases the width area of p to 400px */
  font-family: sans-serif;
  line-height: 25px;
  /* increases the line height of p to 25px */
}
footer .about-company {
  display: flex;
  /* aligns the three divs under about-company class in one axis */
  flex-wrap: wrap;
  /* wrap the elements such that no compromise on dimensionality and no space between elements */
  justify-content: center;
  /* aligns the three divs in the center of the x-axis */
  align-items: center;
  /* aligns the three divs in the center of the y-axis */
}
footer .about-company .container {
  margin-right: 40px;
  /* gives a margin of 40px to the right of the about-company class */
  margin-top: 20px;
  /* gives a margin of 20px to the top of the about-company class */
}
.about-company .container h1 {
  margin-bottom: 50px;
  /* gives a margin of 50px to the bottom of about-company headings */
}
.about-company .container p {
  font-family: sans-serif;
  margin-bottom: 20px;
}
/* Footer End */

/* Responsiveness */
@media screen and (max-width: 740px) {
  header .main-headings {
    width: 100%;
  }
  header .primary-headings {
    width: 100%;
    font-size: 1.5rem;
  }
  .section-three .main-headings {
    width: 100%;
  }
  .section-three .primary-headings {
    width: 100%;
    font-size: 1.5rem;
  }
  .section-three img {
    margin: 0;
  }
}
